{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Galería Boda M&M</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

  </head>

  <body>

    <div class="gallery">
      {% for file in files %}
        {% if file.is_video %}
          <video src="{{ file.file.url }}" alt="Video" data-index="{{ forloop.counter0 }}" class="gallery-video"></video>
        {% else %}
          <img src="{{ file.file.url }}" alt="Photo" data-index="{{ forloop.counter0 }}" class="gallery-img" />
        {% endif %}
      {% endfor %}
    </div>

    <!-- Lightbox -->
    <div id="lightbox" class="lightbox">
      <div class="close-btn" id="closeBtn">&times;</div>
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for file in files %}
            <div class="swiper-slide">
              {% if file.is_video %}
                <video src="{{ file.file.url }}" controls alt="Fullscreen Video"></video>
              {% else %}
                <img src="{{ file.file.url }}" alt="Fullscreen photo" />
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <div class="bottom-button-group">
      <a href="/" class="bottom-button" id="add-button">Añadir foto</a>
      <a href="{{ zip_file_url }}" class="bottom-button bottom-button-outline">Descargar galería (.zip)</a>
    </div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>
  </body>
</html>
