{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    <title>Subir Foto</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.1/dist/browser-image-compression.js"></script>
  </head>

  <body>
    
    <div class="logo-container">
      <img src="{% static 'img/logo.png' %}" alt="Boda M&M Logo" />
    </div>

    <input type="file" id="upload-photo" name="image" accept="image/*,video/*" multiple hidden />
    <div class="button-container">
      <label for="upload-photo" class="upload-label">Subir archivo</label>
      <a href="/gallery" class="gallery-button">Galería</a>
    </div>
    <!--Download animation-->
    <div id="upload-overlay" class="hidden">
      <div class="overlay-content">
          <div class="spinner"></div>
          <p>Preparando la subida...</p>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/upload.js' %}"></script>
</html>
